<!DOCTYPE html>
<html lang="da">
  <head>
    <title>Hedvig Bendsen - Artwork</title>
    <meta name="description" content="The Artwork of Hedvig Bendsen">
    {% include 'meta.html' %}
    {{["_includes/css/external/bootstrap4.css", "index.njk"] | purifyCssBasedOnIncludes | safe }}
    {{["_includes/css/art.css", "index.njk"] | purifyCssBasedOnIncludes | safe }}
  </head>

  <body>
    <div class="art">
      <div>
        <img src="/img/3.png"/>
      </div>
      <div>
        <img src="/img/Moonshine_2020_Apr._2.png"/>
      </div>
      <div>
        <img src="/img/1.png"/>
      </div>
      <div>
        <img src="/img/2020_Marts 1.png"/>
      </div>
      <div>
        <img src="/img/2020_Marts 2.png"/>
      </div>
      <div>
        <img src="/img/2020_Marts.png"/>
      </div>
      <div>
        <img src="/img/2020.png"/>
      </div>
      <div>
        <img src="/img/Lemon.png"/>
      </div>
      <div>
        <img src="/img/Lilypad.png"/>
      </div>
      <div>
        <img src="/img/Orange.png"/>
      </div>
      <div>
        <img src="/img/2.png"/>
      </div>
    </div>
    {{ "_includes/js/webp.js" | load | jsmin | script | safe }}
  </body>
</html>>